<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>gerenciador</display-name>  
  <servlet>
  	<servlet-name>ServletConnection</servlet-name>
  	<servlet-class>br.com.lucas.gerenciador.servlet.ServletConnection</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletConnection</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <!-- Tempo da sessão -->
  <session-config>
  		<session-timeout>10</session-timeout>
  </session-config>
 
   <!-- Filtros --> 
   
     <!-- Filtro de Monitoramento -->  
  <filter>
    <filter-name>FMON</filter-name>
    <filter-class>br.com.lucas.gerenciador.servlet.FiltroDeMonitoramento</filter-class>
  </filter>
  <filter-mapping>
 	  <filter-name>FMON</filter-name>
  	  <url-pattern>/central</url-pattern>
  </filter-mapping>
   
   <!-- Filtro de Autorização -->  
  <filter>
  	<filter-name>FAUT</filter-name>
  	<filter-class>br.com.lucas.gerenciador.servlet.FiltroDeAutorizacao</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FAUT</filter-name>
    <url-pattern>/central</url-pattern>
  </filter-mapping>
  
     <!-- Filtro de Controle -->  
  <filter>
  	<filter-name>FCON</filter-name>
  	<filter-class>br.com.lucas.gerenciador.servlet.FiltroDeControle</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FCON</filter-name>
    <url-pattern>/central</url-pattern>
  </filter-mapping>
  
</web-app>